
# .NET build artifacts
bin/
obj/
*/applications

# Visual Studio files
.vs/
*.user
*.suo
*.cache

# NuGet packages
packages/
*.nupkg

# Logs
*.log

# Resharper
_ReSharper*/

# Rider
.idea/

# Other
*.sqlite

secure_credential.xml
